span {
	font-size: 20px;
	text-align: left;
}

h3 {
	position: absolute;
	left: 32%;
	top: -5%;
	font-size: 100px;
	font-family: STXingkai;
	text-align: center;
}

#result {
	position: absolute;
	left: 37%;
	top: 17%; 
	font-size: 150px;
	font-family: LiSu;
	color: yellow;
	text-align: center;
}

#footer {
	width: 100%;
	color: black;
	float: left;
	text-align: center;
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
	/* background-color: blue; */
}

#footer p {
	font-size: 20px;
}

#footer a {
	text-decoration: none;
	font-size: 20px;
}

#footer a:hover {
	color: rgb(0, 81, 255);
}